<!-- Content -->
<div id="content">
	<%= form_for(@user) do |f| %>
	  <% if @user.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      
	      <% @user.errors.full_messages.each do |msg| %>
			<!-- Message Error -->
			<div class="msg msg-error">
				<p><strong><%= msg %></strong></p>
				<a href="#" class="close">close</a>
			</div>
			<!-- End Message Error -->      
	      <% end %>
      
	    </div>
	  <% end %>

	<!-- Box -->
	<div class="box">
		<!-- Box Head -->
		<div class="box-head">
			<h2>Edit User</h2>
		</div>
		<!-- End Box Head -->
	
		
			<!-- Form -->
			<div class="form">
				<p>
					<span class="req">(Required, max 50 symbols)</span>
					<%= f.label "Username" %>
					<%= f.text_field :name, :class => 'field size1' %>
				</p>

				<p>
				  	<span class="req">(Required, max 100 symbols)</span>
				  	<%= f.label :password %>
				  	<%= f.text_field :password %>
				</p>
				<p>
				  	<span class="req">(Required, max 20 symbols)</span>
				  	<%= f.label "First name" %>
				  	<%= f.text_field :first %>
				</p>
				<p>
				  	<span class="req">(Required, max 20 symbols)</span>
				  	<%= f.label "Last name" %>
				  	<%= f.text_field :last %>
				</p>
				<p>
				  	<span class="req">(Required, max 100 symbols)</span>
				  	<%= f.label "Email address" %>
				  	<%= f.text_field :email %>
				</p>
				<p>
				  	<%= f.label "Phone number" %>
				  	<%= f.text_field :phone %>
				</p>
				<p>
					<span class="req">(Required)</span>
				  	<%= f.label :user_type %>
				  	<%= f.text_field :user_type %>
				</p>
			
			</div>
			<!-- End Form -->
		
			<!-- Form Buttons -->
			<div class="buttons">
				<%= link_to 'Back', users_path, :class => 'button' %>
				<%= f.submit 'Submit', :class => 'button' %>
			</div>
			<!-- End Form Buttons -->
	</div>
	<!-- End Box -->

	<% end %>

</div>
<!-- End Content -->

<!-- Sidebar -->
<div id="sidebar">
	
	<!-- Box -->
	<div class="box">
		
		<!-- Box Head -->
		<div class="box-head">
			<h2>Management</h2>
		</div>
		<!-- End Box Head-->
		
		<div class="box-content">
			<%= link_to 'Add New User', new_user_path, :class => 'silverCss3Button' %>
			<div class="cl">&nbsp;</div>
			
			<p class="select-all"><input type="checkbox" class="checkbox" /><label>select all</label></p>
			<p><a href="#">Delete Selected</a></p>
			
		</div>
	</div>
	<!-- End Box -->
</div>
<!-- End Sidebar -->
