<!--
# * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
#AssignmentHub - My School Organizer on the Cloud
# * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
#Copyright (C) 2012 Dorian Karter, Joseph Low, Amar Rana
# * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
#Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated
#documentation files (the "Software"), to deal in the Software without restriction, including without limitation
#the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and
#to permit persons to whom the Software is furnished to do so, subject to the following conditions:
#
#The above copyright notice and this permission notice shall be included in all copies or substantial portions
#of the Software.
#
#THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED
#TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL
#THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF
#CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER
#DEALINGS IN THE SOFTWARE.
# * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
-->

<!-- Content -->
<div id="content">
	<%= form_for(@assignment) do |f| %>
	  <% if @assignment.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@assignment.errors.count, "error") %> prohibited this assignment from being saved:</h2>

      
	      <% @assignment.errors.full_messages.each do |msg| %>
			<!-- Message Error -->
			<div class="msg msg-error">
				<p><strong><%= msg %></strong></p>
				<a href="#" class="close">close</a>
			</div>
			<!-- End Message Error -->      
	      <% end %>
      
	    </div>
	  <% end %>

	<!-- Box -->
	<div class="box">
		<!-- Box Head -->
		<div class="box-head">
			<h2>Edit Assignment</h2>
		</div>
		<!-- End Box Head -->
	
		
			<!-- Form -->
			<div class="form">
				<p>
					<span class="req">(Required, max 50 symbols)</span>
					<%= f.label :name %>
				    <%= f.text_field :name, :class => 'field size1' %>
				</p>

                <p id="course-field">
                    <%= f.label :course_id %>
                    <%= f.select(:course_id, @courses.map {|c| [ c.course_number + " - " + c.name, c.id ] }) %>
                </p>

				<p>
					<%= f.label :assignment_type %>
				    <%= f.select :assignment_type, Assignment::ASSIGNMENTTYPE  %>
				</p>
				<p>
					<%= f.label :all_day %>
			    	<%= f.check_box :all_day %>
				</p>
				<p>
					<%= f.label :start_date %>
			    	<%= f.datetime_select :start_date, :ampm => true %>
				</p>
			  	<p>
			    	<%= f.label :due_date %>
			    	<%= f.datetime_select :due_date, :ampm => true %>
			  	</p>

                <p>
                    <%= f.label :notification_type %>
                    <%= select(:notification_type, "Notification Type", {"No Reminders" => "NR", "1 Hour Before" => "1H", "24 Hours Before" => "24H", "1 Week Before" => "1W"}) %>
                </p>
			  
				<p>
			    	<%= f.label :priority %>
			    	<%= f.text_field :priority %>
				</p>
				
			  	<p>
			    	<%= f.label :notes %><br />
			    	<%= f.text_area :notes %>
				</p>
			</div>
			<!-- End Form -->
		
			<!-- Form Buttons -->
			<div class="buttons">
				<%= link_to 'Back', assignments_path, :class => 'button' %>
				<%= f.submit 'Submit', :class => 'button' %>
			</div>
			<!-- End Form Buttons -->
	</div>
	<!-- End Box -->

	<% end %>

</div>
<!-- End Content -->

<!-- Sidebar -->
<div id="sidebar">
	
	<!-- Box -->
	<div class="box">
		
		<!-- Box Head -->
		<div class="box-head">
			<h2>Management</h2>
		</div>
		<!-- End Box Head-->
		
		<div class="box-content">
			<%= link_to 'Add New Assignment', new_assignment_path, :class => 'silverCss3Button' %>
			<div class="cl">&nbsp;</div>
			
			<p class="select-all"><input type="checkbox" class="checkbox" /><label>select all</label></p>
			<p><a href="#">Delete Selected</a></p>
			
		</div>
	</div>
	<!-- End Box -->
</div>
<!-- End Sidebar -->
