<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @assignment.name %>
</p>

<p>
  <b>Type:</b>
  <%= @assignment.assignment_type %>
</p>

<p>
  <b>Start date:</b>
  <%= @assignment.start_date %>
</p>

<p>
  <b>Due Date:</b>
  <%= @assignment.due_date %>
</p>

<p>
  <b>Priority:</b>
  <%= @assignment.priority %>
</p>

<p>
  <b>Notes:</b><br />
	<!-- Making sure no injection + maintaining format -->
  <%= simple_format(@assignment.notes.gsub(/\r\n/, '<br />')) %>
</p>


<%= link_to 'Edit', edit_assignment_path(@assignment) %> |
<%= link_to 'Back', assignments_path %>
