<!--
# * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
#AssignmentHub - My School Organizer on the Cloud
# * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
#Copyright (C) 2012 Dorian Karter, Joseph Low, Amar Rana
# * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
#Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated
#documentation files (the "Software"), to deal in the Software without restriction, including without limitation
#the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and
#to permit persons to whom the Software is furnished to do so, subject to the following conditions:
#
#The above copyright notice and this permission notice shall be included in all copies or substantial portions
#of the Software.
#
#THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED
#TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL
#THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF
#CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER
#DEALINGS IN THE SOFTWARE.
# * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
-->

<!-- Content -->
<div id="content">
	
	<!-- Box -->
	<div class="box">
		<!-- Box Head -->
		<div class="box-head">
			<h2 class="left">Listing Attachments</h2>
			<div class="right">
				
				<label for="search">search attachments</label>
				<input name="search" type="text" class="field small-field" />
				<input type="submit" class="button" value="search" />
			
			</div>
		</div>
		<!-- End Box Head -->	

		<!-- Table -->
		<div class="table">
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<th width="13"><input type="checkbox" class="checkbox" /></th>
				    <th>Name</th>
				    <th>Type</th>
				    <th>Upload date</th>
				    <% if is_admin %>
						<th>User</th>
					<% end %>
				    <th></th>
				    <th></th>
				    <th></th>
				  </tr>

				<% @attachments.each do |attachment| %>
				  <tr>
					<td><input type="checkbox" class="checkbox" /></td>
				    <td><%= attachment.name %></td>
				    <td><%= attachment.type %></td>
				    <td><%= attachment.upload_date %></td>
					<!--will show usernames to which attachments belong to for admin user -->
					<% if is_admin %>
						<td><%= attachment.user.name if attachment.user %></td>
					<% end %>
				    <td><%= link_to 'Show', attachment %></td>
				    <td><%= link_to 'Edit', edit_attachment_path(attachment), :class => 'ico edit' %></td>
				    <td><%= link_to 'Destroy', attachment, confirm: 'Are you sure?', method: :delete, :class => 'delete_from_index ico del', :remote => true %></td>
				  </tr>
				<% end if @attachments %>
			</table>
			
			<% if !@attachments || @attachments.length == 0 %>
				<div class="ac">No Attachments Found... Add one now.</div>
			<% end %>

			<!-- Pagging -->
			<div class="pagging">
				<div class="left">Showing 1-<%= @attachments.length if @attachments %> of <%= @attachments.length if @attachments %></div>
				<div class="right">
					<a href="#">Previous</a>
					<a href="#">1</a>
					<a href="#">2</a>
					<a href="#">3</a>
					<a href="#">4</a>
					<a href="#">245</a>
					<span>...</span>
					<a href="#">Next</a>
					<a href="#">View all</a>
				</div>
			</div>
			<!-- End Pagging -->

		</div>
		<!-- Table -->

	</div>
	<!-- End Box -->
	
</div>
<!-- End Content -->

<!-- Sidebar -->
<div id="sidebar">
	
	<!-- Box -->
	<div class="box">
		
		<!-- Box Head -->
		<div class="box-head">
			<h2>Management</h2>
		</div>
		<!-- End Box Head-->
		
		<div class="box-content">
			<%= link_to 'Add New Attachment', new_attachment_path, :class => 'silverCss3Button' %>
			<div class="cl">&nbsp;</div>
			
			<p class="select-all"><input type="checkbox" class="checkbox" /><label>select all</label></p>
			<p><a href="#">Delete Selected</a></p>
			
		</div>
	</div>
	<!-- End Box -->
</div>
<!-- End Sidebar -->