<h1>Listing assignments</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Start date</th>
    <th>Due date</th>
    <th>Priority</th>
    <th>Notes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @assignments.each do |assignment| %>
  <tr>
    <td><%= assignment.name %></td>
    <td><%= assignment.type %></td>
    <td><%= assignment.start_date %></td>
    <td><%= assignment.due_date %></td>
    <td><%= assignment.priority %></td>
    <td><%= assignment.notes %></td>
    <td><%= link_to 'Show', assignment %></td>
    <td><%= link_to 'Edit', edit_assignment_path(assignment) %></td>
    <td><%= link_to 'Destroy', assignment, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Assignment', new_assignment_path %>
