<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @university.id %>
</p>

<p>
  <b>Name:</b>
  <%= @university.name %>
</p>

<p>
  <b>City:</b>
  <%= @university.city %>
</p>

<p>
  <b>State:</b>
  <%= @university.state %>
</p>

<p>
  <b>Website:</b>
  <%= @university.website %>
</p>


<%= link_to 'Edit', edit_university_path(@university) %> |
<%= link_to 'Back', universities_path %>
