<!-- Content -->
<div id="content">
	
	<!-- Box -->
	<div class="box">
		<!-- Box Head -->
		<div class="box-head">
			<h2 class="left">Listing Instructors</h2>
			<div class="right">
				
				<label for="search">search instructors</label>
				<input name="search" type="text" class="field small-field" />
				<input type="submit" class="button" value="search" />
			
			</div>
		</div>
		<!-- End Box Head -->	

		<!-- Table -->
		<div class="table">
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<th width="13"><input type="checkbox" class="checkbox" /></th>
				    <th><!--photo--></th>
					<th>Name</th>
				    <th>Email</th>
				    <th>Office hours</th>
				    <th>Phone</th>
				    <% if is_admin %>
						<th>User</th>
					<% end %>
				    <th></th>
				    <th></th>
				  </tr>

				<% @teachers.each do |teacher| %>
				  <tr>
					<td><input type="checkbox" class="checkbox" /></td>
			    	<td><%= image_tag teacher.photo.url(:thumb), :class => "prof_thumb" %></td>
					<td><%= link_to (Teacher::GetTitleFromValue(teacher.title) + " " + teacher.last + ", " + teacher.first), teacher %></td>
				    <td><%= teacher.email %></td>
				    <td><%= teacher.office_hours %></td>
				    <td><%= teacher.phone %></td>
					<!--will show usernames to which teachers belong to for admin user -->
					<% if is_admin %>
						<td><%= teacher.course.user.name if teacher.course %></td>
					<% end %>
				    <td><%= link_to '', edit_teacher_path(teacher), :class => 'ico edit' %></td>
				    <td><%= link_to '', teacher, confirm: 'Are you sure?', method: :delete, :class => 'delete_from_index ico del', :remote => true %></td>
				  </tr>
				<% end if @teachers %>
			</table>
			
			<% if !@teachers || @teachers.length == 0 %>
				<div class="ac">No Instructors Found... Add one now.</div>
			<% end %>

			<!-- Pagging -->
			<div class="pagging">
				<div class="left">Showing 1-<%= @teachers.length if @teachers %> of <%= @teachers.length if @teachers %></div>
				<div class="right">
					<a href="#">Previous</a>
					<a href="#">1</a>
					<a href="#">2</a>
					<a href="#">3</a>
					<a href="#">4</a>
					<a href="#">245</a>
					<span>...</span>
					<a href="#">Next</a>
					<a href="#">View all</a>
				</div>
			</div>
			<!-- End Pagging -->

		</div>
		<!-- Table -->

	</div>
	<!-- End Box -->
	
</div>
<!-- End Content -->

<!-- Sidebar -->
<div id="sidebar">
	
	<!-- Box -->
	<div class="box">
		
		<!-- Box Head -->
		<div class="box-head">
			<h2>Management</h2>
		</div>
		<!-- End Box Head-->
		
		<div class="box-content">
			<%= link_to 'Add New Instructor', new_teacher_path, :class => 'silverCss3Button' %>
			<div class="cl">&nbsp;</div>
			
			<p class="select-all"><input type="checkbox" class="checkbox" /><label>select all</label></p>
			<p><a href="#">Delete Selected</a></p>
			
		</div>
	</div>
	<!-- End Box -->
</div>
<!-- End Sidebar -->