<p id="notice"><%= notice %></p>

<%= image_tag @teacher.photo.url(:large) %>

<p>
  <b>Name:</b>
  <%= Teacher::GetTitleFromValue(@teacher.title) + " " + @teacher.last + ", " + @teacher.first %>
</p>

<p>
  <b>Email:</b>
  <%= @teacher.email %>
</p>

<p>
  <b>Office Hours:</b>
  <%= @teacher.office_hours %>
</p>

<p>
  <b>Phone:</b>
  <%= @teacher.phone %>
</p>

<p>
  <b>Courses:</b>
	TODO: generate a list of courses associated with this instructor and his/her role in it
</p>


<%= link_to 'Edit', edit_teacher_path(@teacher) %> |
<%= link_to 'Back', teachers_path %>
