<!-- Content -->
<div id="content">
	<%= form_for(@course, :remote => true, :builder => ApplicationHelper::ColorPickerFormBuilder) do |f| %>
	  <% if @course.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      
	      <% @course.errors.full_messages.each do |msg| %>
			<!-- Message Error -->
			<div class="msg msg-error">
				<p><strong><%= msg %></strong></p>
				<a href="#" class="close">close</a>
			</div>
			<!-- End Message Error -->      
	      <% end %>
      
	    </div>
	  <% end %>

	<!-- Box -->
	<div class="box">
		<!-- Box Head -->
		<div class="box-head">
			<h2>Edit Course</h2>
		</div>
		<!-- End Box Head -->
			
			<div id="ajax-response" class="hidden">
			</div>
		
			<!-- Form -->
			<div class="form">
			  <p>
				<%= f.label :color %>
				<%= f.color_picker :color, :avaiable => COURSE_COLORS, :selected=> @course.color %>
				<br />
			  </p>
			  <p>
				<span class="req">(Required, max 100 symbols)</span>
				<%= f.label :name %>
			    <%= f.text_field :name %>
			  </p>
			  <p>
				<span class="req">(Required, max 10 symbols)</span>
			    <%= f.label :course_number %>
			    <%= f.text_field :course_number %>
			  </p>
			  <p>
			    <%= f.label :section %>
			    <%= f.text_field :section %>
			  </p>
			  <p>
			    <%= f.label :school %>
			    <%= f.autocomplete_field :school, autocomplete_university_name_courses_path %>
			  </p>
			  <p>
				<%= f.label :teachers, "Instructors:" %>
				<%= f.fields_for :teachers do |ff| %>
				    <%= render 'teacher_fields', :f => ff %>
				<% end %>
				<p><%= link_to_add_fields "Add Instructor", f, :teachers %></p>
			  </p>
			  <p>
			    <%= f.label :published %>
				<%= f.check_box :published %>
			  </p>
			  

			 <p id="code" class="hidden">
			    <%= f.label :code, "Publishing Code" %>
			    <%= f.text_field :code %>
			  </p>
			</div>
			<!-- End Form -->
		
			<!-- Form Buttons -->
			<div class="buttons">
				<%= link_to 'Back', courses_path, :class => 'button' %>
				<%= f.submit 'Submit', :class => 'button' %>
			</div>
			<!-- End Form Buttons -->
	</div>
	<!-- End Box -->
		
		<script language="javascript">
			//initial setup (hide code if not published)
		  	if (<%=@course.published%>)
				$("#code").toggle();

			//script to toggle the course textbox when the published checkmark is clicked	
			$("#course_published").click(function(){
				$("#code").toggle("slow");
			});

			// script to automatically fill in last university used in the system for new course entries
			if (<%=!@course.id%>)
				$("#course_school").val("<%=@last_school_used%>");
			
		 </script>

	<% end %>

</div>
<!-- End Content -->

<!-- Sidebar -->
<div id="sidebar">
	
	<!-- Box -->
	<div class="box">
		
		<!-- Box Head -->
		<div class="box-head">
			<h2>Management</h2>
		</div>
		<!-- End Box Head-->
		
		<div class="box-content">
			<%= link_to 'Add New Course', new_course_path, :class => 'silverCss3Button' %>
			<div class="cl">&nbsp;</div>
			
			<p class="select-all"><input type="checkbox" class="checkbox" /><label>select all</label></p>
			<p><a href="#">Delete Selected</a></p>
			
		</div>
	</div>
	<!-- End Box -->
</div>
<!-- End Sidebar -->


