<!-- Content -->
<div id="content">
	
	<!-- Box -->
	<div class="box">
		<!-- Box Head -->
		<div class="box-head">
			<h2 class="left">Listing Courses</h2>
			<div class="right">
				
				<label for="search">search courses</label>
				<input name="search" type="text" class="field small-field" />
				<input type="submit" class="button" value="search" />
				
				<% form_tag course_search_path, :method => 'get' do %>
				    <%= text_field_tag :search, params[:search] %>
				    <%= submit_tag "Search", :name => nil %>
				<% end %>
			</div>
		</div>
		<!-- End Box Head -->	

		<!-- Table -->
		<div class="table">
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<th width="13"><input type="checkbox" class="checkbox" /></th>
				    <th></th>
					<th>Name</th>
				    <th>Course number</th>
				    <th>School</th>
				    <th>Section</th>
				    <th>Code</th>
				    <% if is_admin %>
						<th>User</th>
					<% end %>
				    <th></th>
				    <th></th>
				    <th></th>
				  </tr>

				<% @courses.each do |course| %>
				  <tr>
					<td><input type="checkbox" class="checkbox" /></td>
					<td><div style="display: block; background:#<%= course.color%>; width:20px; height:20px;" /></td>
				    <td><%= course.name %></td>
				    <td><%= course.course_number %></td>
				    <td><%= course.school %></td>
				    <td><%= course.section %></td>
					<!--will show [N/A] for unpublished courses-->
				    <td><%= course.published ? course.code : "[N/A]" %></td>
					<!--will show usernames to which courses belong to for admin user -->
					<% if current_user && User.find(current_user).user_type == 0 %>
						<td><%= course.user.name if course.user %></td>
					<% end %>
				    <td><%= link_to 'Show', course %></td>
				    <td><%= link_to 'Edit', edit_course_path(course), :class => 'ico edit' %></td>
				    <td><%= link_to 'Destroy', course, confirm: 'Are you sure?', method: :delete, :class => 'delete_from_index ico del', :remote => true %></td>
				  </tr>
				<% end if @courses %>
			</table>
			
			<% if !@courses || @courses.length == 0 %>
				<div class="ac">No Courses Found... Add one now.</div>
			<% end %>

			<!-- Pagging -->
			<div class="pagging">
				<div class="left">Showing 1-<%= @courses.length if @courses %> of <%= @courses.length if @courses %></div>
				<div class="right">
					<a href="#">Previous</a>
					<a href="#">1</a>
					<a href="#">2</a>
					<a href="#">3</a>
					<a href="#">4</a>
					<a href="#">245</a>
					<span>...</span>
					<a href="#">Next</a>
					<a href="#">View all</a>
				</div>
			</div>
			<!-- End Pagging -->

		</div>
		<!-- Table -->

	</div>
	<!-- End Box -->
	
</div>
<!-- End Content -->

<!-- Sidebar -->
<div id="sidebar">
	
	<!-- Box -->
	<div class="box">
		
		<!-- Box Head -->
		<div class="box-head">
			<h2>Management</h2>
		</div>
		<!-- End Box Head-->
		
		<div class="box-content">
			<%= link_to 'Add New Course', new_course_path, :class => 'silverCss3Button' %>
			<div class="cl">&nbsp;</div>
			
			<p class="select-all"><input type="checkbox" class="checkbox" /><label>select all</label></p>
			<p><a href="#">Delete Selected</a></p>
			
		</div>
	</div>
	<!-- End Box -->
</div>
<!-- End Sidebar -->
