<!--
# * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
#AssignmentHub - My School Organizer on the Cloud
# * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
#Copyright (C) 2012 Dorian Karter, Joseph Low, Amar Rana, Chinonso Enwerem
# * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
#Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated
#documentation files (the "Software"), to deal in the Software without restriction, including without limitation
#the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and
#to permit persons to whom the Software is furnished to do so, subject to the following conditions:
#
#The above copyright notice and this permission notice shall be included in all copies or substantial portions
#of the Software.
#
#THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED
#TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL
#THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF
#CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER
#DEALINGS IN THE SOFTWARE.
# * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
-->

<!-- Content -->
<div id="content">
	
	<!-- Box -->
	<div class="box">
		<!-- Box Head -->
		<div class="box-head">
			<h2 class="left">Listing Courses</h2>
			<div class="right">
				
				<label>search courses</label>
				<!--input type="text" class="field small-field" /-->
				<!--input type="submit" class="button" value="search" /-->
				<% form_tag course_search_path, :method => 'get' do %>
				  
				    <%= text_field_tag :search, params[:search] %>
				    <%= submit_tag "Search", :name => nil %>
				<% end %>
			</div>
		</div>
		<!-- End Box Head -->	

		<!-- Table -->
		<div class="table">
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<th width="13"><input type="checkbox" class="checkbox" /></th>
				    <th></th>
					<th>Name</th>
				    <th>Course number</th>
				    <th>School</th>
				    <th>Section</th>
				    <th>Code</th>
				    <% if is_admin %>
						<th>User</th>
					<% end %>
				    <th></th>
				    <th></th>
				    <th></th>
				  </tr>

				<% @courses.each do |course| %>
				  <tr>
					<td><input type="checkbox" class="checkbox" /></td>
					<td><div style="display: block; background:#<%= course.color%>; width:20px; height:20px;" /></td>
				    <td><%= course.name %></td>
				    <td><%= course.course_number %></td>
				    <td><%= course.school %></td>
				    <td><%= course.section %></td>
					<!--will show [N/A] for unpublished courses-->
				    <td><%= course.published ? course.code : "[N/A]" %></td>
					<!--will show usernames to which courses belong to for admin user -->
					<% if is_admin %>
						<td><%= course.user.name if course.user %></td>
					<% end %>
				    <td><%= link_to 'Show', course %></td>
				    <td><%= link_to 'Edit', edit_course_path(course), :class => 'ico edit' %></td>
				    <td><%= link_to 'Destroy', course, confirm: 'Are you sure?', method: :delete, :class => 'delete_course ico del', :remote => true %></td>
				  </tr>
				<% end if @courses %>
			</table>
			
			<% if !@courses || @courses.length == 0 %>
				<div class="ac">No Courses Found... Add one now.</div>
			<% end %>

			<!-- Pagging -->
			<div class="pagging">
				<div class="left">Showing 1-<%= @courses.length if @courses %> of <%= @courses.length if @courses %></div>
				<div class="right">
					<a href="#">Previous</a>
					<a href="#">1</a>
					<a href="#">2</a>
					<a href="#">3</a>
					<a href="#">4</a>
					<a href="#">245</a>
					<span>...</span>
					<a href="#">Next</a>
					<a href="#">View all</a>
				</div>
			</div>
			<!-- End Pagging -->

		</div>
		<!-- Table -->

	</div>
	<!-- End Box -->
	
</div>
<!-- End Content -->

<!-- Sidebar -->
<div id="sidebar">
	
	<!-- Box -->
	<div class="box">
		
		<!-- Box Head -->
		<div class="box-head">
			<h2>Management</h2>
		</div>
		<!-- End Box Head-->
		
		<div class="box-content">
			<%= link_to 'Add New Course', new_course_path, :class => 'silverCss3Button' %>
			<div class="cl">&nbsp;</div>
			
			<p class="select-all"><input type="checkbox" class="checkbox" /><label>select all</label></p>
			<p><a href="#">Delete Selected</a></p>
			
		</div>
	</div>
	<!-- End Box -->
</div>
<!-- End Sidebar -->


